h1 {
    background-color: aquamarine;
    border-radius: 50px;
    border: solid 2px red;
    text-align: center;
}

button {
    color: white;
    background-color: rgb(74, 74, 234) ;
    width: 250px;
    padding: 5px;
}
table, tr, th, td{
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    border-collapse: collapse;
    font-size: 35px;
    color: white;
    font-size: 20px;
}
table{
    width: 1450px;
}
.ya{
    background-color: red;
}
.la{
    background-color: green;
}
.ol{
    background-color: blue;
}
.dd{
    background-color: black;
}
textarea {
    width: 100%;
}
.baa {
    display: flex;
    gap: 10px;
}